<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroUsuario</servlet-name>
        <servlet-class>servlet.CadastroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroAnimal</servlet-name>
        <servlet-class>servlet.CadastroAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroCliente</servlet-name>
        <servlet-class>servlet.CadastroCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroFornecedor</servlet-name>
        <servlet-class>servlet.CadastroFornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroFuncionario</servlet-name>
        <servlet-class>servlet.CadastroFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroProduto</servlet-name>
        <servlet-class>servlet.CadastroProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroUsuario</servlet-name>
        <url-pattern>/CadastroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroAnimal</servlet-name>
        <url-pattern>/CadastroAnimal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroCliente</servlet-name>
        <url-pattern>/CadastroCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroFornecedor</servlet-name>
        <url-pattern>/CadastroFornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroFuncionario</servlet-name>
        <url-pattern>/CadastroFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroProduto</servlet-name>
        <url-pattern>/CadastroProduto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            25
        </session-timeout>
    </session-config>
</web-app>
